<!DOCTYPE html>
<html>
<head>
	<title>bitland - login</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="/static/js/login.js"></script>
</head>
<body>
<div id="container">
	<form>
		username <input id="username" type="text" size="10"><br>
		password <input id="password" type="text" size="10">
	</form>
	<a id="login" onclick="login()">login</a>
</div>
</body>
</html>