body {
	background-color: #E5E5E5;
	font-family: 'Signika Negative', sans-serif;
	font-size: 24px;
}

::-webkit-scrollbar {
	display: none;
}

input[type=text] {
	font-family: 'Signika Negative', sans-serif;
	font-size: 24px;
	height: 32px;
	border: none;
}

input[type=text]::placeholder {
	font-family: 'Signika Negative', sans-serif;
	font-size: 24px;
}

input[type=text]:focus {
	padding-left: 7px;
	background-color: #EAFAFF;
	outline: none;
	border: none;
}

.blog-box {
	padding-left: 7px;
	padding-right: 7px;
	background-color: white;
	white-space: nowrap;
	text-overflow: clip;
	overflow: scroll;
}

#container {
	position: absolute;
	left: 10vw;
	width: 80vw;
	height: 100vh;
}

#page-title {
	margin-top: 25px;
	font-size: 40px;
}

#add-blog-container {
	margin-top: 30px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#add-blog-form {
	margin-top: 15px;

	display: grid;
	grid-template-columns: 90px auto 100px 35px;
	grid-template-rows: 35px;
	grid-column-gap: 10px;
}

#queue-container {
	margin-top: 30px;
	height: auto;
}

#queue {
	margin-top: 15px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.blog-entry {
	margin-top: 7px;

	display: grid;
	grid-template-columns: 90px auto 100px 35px;
	grid-template-rows: 35px;
	grid-column-gap: 10px;
}

#add-blog-button {
	background-color: white;
}

#add-blog-button:hover {
	background-color: green;
}

.delete-blog-button:hover {
	background-color: red;
}